$myfontStyle: 'Inconsolata', monospace;
//@media only screen and
//(max-device-width : 586px)
// pour les h1
$myh1Size: 3.4vh;
// @media only screen and
// (min-device-width : 587px)
$myh1sizeBis: 5vh;
